body {
  font-family: "Roboto", sans-serif;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background: #fff;
  cursor: pointer;
}
/* хедер */
.top-line {
}
/* лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 117%;
  letter-spacing: 0.03em;
}
.span-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 117%;
  color: #2e2f42;
  letter-spacing: 0.03em;
}
/* розділи */
.information-list {
  list-style-type: none;
}
.information {
  text-decoration: none;
}
/* контакти */
.contacts-address {
  font-style: normal 
}
.contacts-list {
  list-style-type: none;
}
.li-contact {
  
}
.information-link {
  font-weight: 500
  font-size: 16px;
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.information-link-studio {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}


.information-link:hover,
.contact-email:hover,
.contact-tel:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #404bbf;
}
.information-link:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color:#404bbf ;
  text-decoration: underline;
}

.contact-email,
.contact-tel {
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;

}
.main-information {
}
.hero-image {
  background: #2e2f42;
  text-align: center;
}
.hero-image-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #fff;
}
.button-servise { 
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.button-servise:hover {
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.section-first {
}
.title-section-first {
}
.list-advantages {
  list-style-type: none;
}
.dox-advantages {
}
.title-advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2e2f42;
}
.text-advantages {
  font-size: 16px;
  line-height: 150%;
}
.section-second {
  background: #f4f4fd;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: #2e2f42;
}
.list-team {
  list-style-type: none;
}
.worker {
}
.title-workers {
}
.text-workers {
}
.list-traling-icons {
  list-style-type: none;
}
.li-instagram {
}
.link-instagram {
}
.li-twitter {
}
.link-twitter {
}
.li-facebook {
}
.link-facebook {
}
.li-linkedin {
}
.link-linkedin {
}
.section-third {
}
.main-title-portfolio {
}
.list-portfolio {
  list-style-type: none;
}
.li-portfolio {
}
.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2e2f42;
}
.text-portfolio {
  font-size: 16px;
  line-height: 150%;
}
.section-footer {
  background: #2e2f42;
}
.text-footer {
  font-size: 16px;
  line-height: 150%;
  color: #f4f4fd;
}
